#letter-wrapper .phone-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    box-shadow: none;
}

.paper {
    width: 400px;
    height: 600px;
    perspective: 2000px;
}

.part {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 200px;
    padding: 0px 40px;
    box-sizing: border-box;
    background: #fef9ef;
    box-shadow: inset rgba(0, 0, 0, 0.05) 0 0 50px;
    transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
    outline: 1px solid transparent;
    -webkit-background-clip: padding-box;
}

.part h2 {
    margin-bottom: 15px;
    font-size: 28px;
}

.part p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
}

.part1 {
    justify-content: flex-start;
    padding-top: 40px;
    z-index: 3;
    transform-origin: top;
}

.part2 {
    position: absolute;
    top: 199px;
    left: 0;
    width: 100%;
    height: 201px;
    transform-origin: top;
    transform: translateZ(0.1px);
}

.part3 {
    position: absolute;
    top: 199px;
    left: 0;
    width: 100%;
    height: 201px;
    transform-origin: top;
    transform: translateZ(0.1px);
}

#letter-wrapper:not(.active) .part1 {
    transform: rotateX(-95deg);
    opacity: 0;
}

#letter-ui:hover .part1 {
    transform: rotateX(-30deg);
}

#letter-ui:hover .part2 {
    transform: rotateX(60deg) translateZ(0.1px);
}

#letter-ui:hover .part3 {
    transform: rotateX(-60deg) translateZ(0.1px);
}

.pageNumber {
    position: absolute;
    right: 40px;
    bottom: 20px;
    color: gray;
}