@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Indie+Flower&display=swap');

#letter-wrapper .phone-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.paper {
    width: 400px;
    height: 600px;
    perspective: 2000px;
    font-family: 'Indie Flower', cursive;
}

.part {
    position: absolute;
    width: 400px;
    /* Force hard width */
    height: 200px;
    /* Force hard height */
    padding: 20px 40px;

    /* FIX 1: Change to content-box to ensure padding doesn't mess with 3D math */
    box-sizing: border-box;

    background: #fef9ef;
    box-shadow: inset rgba(0, 0, 0, 0.05) 0 0 50px;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);

    /* FIX 2: Stop Chrome from auto-expanding the box to hide cracks */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    /* FIX 3: Instead of height: 201px, we use a 1px border of the same color 
       This fills the white line but tells DevTools the height is exactly 200px */
    outline: 1px solid #fef9ef;
    outline-offset: -1px;
    /* Pulls the 'extra pixel' inward so it's not 'sobra' */
}

.part1 {
    z-index: 3;
    top: 0;
    transform-origin: bottom;
}

.part2 {
    z-index: 2;
    /* Use exact 200px. If it still shows 201, use top: 199.5px to trick the sub-pixel grid */
    top: 200px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform-origin: top;
}

.part3 {
    z-index: 1;
    top: 400px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 30px;
    padding-right: 40px;
    transform-origin: top;
}

/* Vintage Elements */
.stamp {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 50px;
    height: 65px;
    border: 2px dashed #cfcfcf;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cfcfcf;
    font-weight: bold;
    font-size: 18px;
    transform: rotate(12deg);
    user-select: none;
}

.botanical-doodle {
    font-size: 100px;
    color: rgba(255, 45, 85, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.part2 {
    position: absolute;
    top: 199px;
    left: 0;
    width: 100%;
    height: 201px;
    transform-origin: top;
    transform: translateZ(0.1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.part3 {
    position: absolute;
    top: 199px;
    left: 0;
    width: 100%;
    height: 201px;
    transform-origin: top;
    transform: translateZ(0.1px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 30px;
    padding-right: 40px;
}

.letter-message p {
    font-size: 16px;
    line-height: 1.5;
    margin: 5px 0;
    color: #444;
}

.signature {
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
    color: #FF2D55;
}

#letter-wrapper:not(.active) .part1 {
    transform: rotateX(-95deg);
    opacity: 0;
}

#letter-ui:hover .part1 {
    transform: rotateX(-30deg);
}

#letter-ui:hover .part2 {
    transform: rotateX(60deg) translateZ(0.1px);
}

#letter-ui:hover .part3 {
    transform: rotateX(-60deg) translateZ(0.1px);
}