#mobile-blocker {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #000000;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", sans-serif;
    text-align: center;
}

.blocker-content i {
    margin-bottom: 20px;
    color: #ffb7c5;
    font-size: 50px;
}

.blocker-content p {
    opacity: 0.8;
    font-size: 16px;
    line-height: 1.5;
}

@media only screen and (max-width: 1024px) {
    #mobile-blocker {
        display: flex;
    }

    body {
        overflow: hidden;
    }
}